/* Aside */
.aside_menu {
    top: $header_height;
    background: #fefefe url(../images/common/left-menu-bg.jpg) no-repeat center top;

    a {
	    text-decoration: none !important;
	    color: rgba(0,0,0,0.54) !important;
    }

	&.navigation-drawer--mini-variant {
	    .list__tile {
	    	padding: 0 8px;
	    }
		.list__tile__action {
			min-width: 46px;
		}
	}

	.toolbar__content {
	    margin-top: 8px;
	}

	.list__tile {
		padding: 0px 8px 0px 24px;
	}

	.list__tile__action {
		min-width: 38px;
	}

	.list__tile__title {
		&.user-info {
			height: 32px;

			.name {
				font-size: 14px;
			    line-height: 14px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
			}

			.status {
				color: #787878;
				font-size: 11px;
			}
		}
	}

	.expansion-panel__header {
		padding: 0px;
	    padding-right: 12px;
	}

	.expansion-panel {
		margin-bottom: 0px;
		box-shadow: none;
	}

	.card__text {
		padding: 0px;
	}

	&:not(.navigation-drawer--mini-variant) {
		.card__text {
			padding-left: 24px;
		}
	}

	.expansion-panel__container--active {
		.expansion-panel__header {
			background: rgb(5, 147, 196);
		    color: white;
			
			.icon {
		    	color: rgba(255, 255, 255, 0.7) !important;
		    }
		}
	}

	.list__tile--link {
		&.list__tile--active {
			color: $activeLink_color !important;
		}
	}
}
