@import "./categories.scss";

.blogMenu {
	.content--wrap {
		background: url('../images/bg/blog.jpg') no-repeat center;
		background-size: cover;
	}
}

.blogSeo {
	.content--wrap {
		background: #000 url('../images/bg/seo-blog.png') no-repeat center;
		background-size: cover;
	}
}

.control-wrapper {
    opacity: 0;
}
tr[active="true"] .control-wrapper,
tr:hover .control-wrapper {
	opacity: 1;
}
.control-wrapper .icon {
	font-size: 19px;
}
button.remove {
	margin-right: 8px;
	display: inline-block;
	.icon {
		opacity: 0.7;
	}

	&:hover {
		box-shadow: 0px 3px 1px -2px rgba(220, 53, 69, 0.2),
					0px 2px 2px 0px rgba(220, 53, 69, 0.14),
					0px 1px 5px 0px rgba(220, 53, 69, 0.12);

		.icon {
			opacity: 1;
			color: #ff0000;
		}
	}
}