.col-md-1
  .left-menu-wrapper
    .mask-mobile-lm
    .left-menu
      .wrapper-list
        .item
          router-link(tag="a", to="/")
            i.fa.fa-tachometer
            |Dashboard
        .item.purpure
          router-link(tag="a", to="/modules")
            i.fa.fa-th-large
            |Modules
        .item.red.list
          span
            i.fa.fa-th-list
            |Catalog
          ul
            li
              router-link(tag="a", to="/products") Products
            li
              router-link(tag="a", to="/categories") Categories
            li
              router-link(tag="a", to="/options") Products options
            li
              router-link(tag="a", to="/filters") Filters
        .item.blue.list.active.open
          span
            i.fa.fa-group
            |Users
          ul
            li
              router-link(tag="a", to="/admins") Admins
            li
              router-link(tag="a", to="/customers") Сustomers
        .item.green.list
          router-link(tag="a", to="/settings") Settings
          span
            i.fa.fa-gear
            |Settings
          ul
            li
              router-link(tag="a", to="/config_mail") Mail
            li
              router-link(tag="a", to="/config") Configs