.row
	.col-md-9
		v-form(ref="form", lazy-validation, v-model="valid")
			v-stepper(non-linear, v-model="step")
				v-stepper-header
					v-stepper-step(step="1", editable, edit-icon="mdi-settings", :complete="step > 1") Основное
					v-divider
					v-stepper-step(step="2", editable, edit-icon="mdi-search-web", :complete="step > 2") SEO
					v-divider
					v-stepper-step(:step="step", editable, complete, edit-icon="mdi-content-save", @click.native="submit") Сохранить
				v-progress-linear(:indeterminate="true", v-if="loading", height="2", color="green")
				v-stepper-items
				
					v-stepper-content(step="1")
						.row
							.col-md-8
								v-layout
									v-text-field(v-model="name", label="Название", required, color="light-green", :rules="nameRules")
								v-layout
									v-text-field(v-model="url", label="url", required, color="light-green", :rules="urlRules")
								v-layout
									v-switch(v-model="transliteration", color="light-green", label="Транслитерация url")
								v-layout
									v-switch(v-model="status", color="light-green", label="Статус отображения на сайте")
							.col-md-4
								v-btn(@click="imageUploadWindow = !imageUploadWindow", v-if="!imgDataUrl", type="button", color="light-green", icon, dark).float-right
									v-icon mdi-image-plus
								img(:src="img", v-else, style="max-width: 100%;", @click="imageUploadWindow = !imageUploadWindow")
								.clearfix

						v-btn(color="grey", flat, @click="$router.go(-1)")
							i.mdi.mdi-arrow-left
						v-btn(color="green", dark, @click.native="step = 2").float-right Далее
						.clearfix
							
					v-stepper-content(step="2")

						componemt(is="seo", :props="seo", :required="status")

						br
						v-btn(@click.native="step = 1", color="grey", dark) Назад
						v-btn(@click.native="submit", color="green", dark).float-right Сохранить
						.clearfix

	.col-md-3
		v-card(light, disabled, color="blue-grey", dark).statistic
			v-list-tile
				v-list-tile-content Статус
				v-list-tile-content.align-end {{ statusText }}
			v-list-tile
				v-list-tile-content ID категории
				v-list-tile-content.align-end {{ id }}
			v-list-tile
				v-list-tile-content Публикаций в категории
				v-list-tile-content.align-end {{ posts_count }}
			
			
	imageCover(field="img", v-model="imageUploadWindow", @crop-success="cropSuccess", :width="cropWidth", :height="cropHeight", url="", img-format="png", :langType="'ru'", :noCircle="true")