v-dialog(v-model="addNew", max-width="500px", persistent)
	v-card
		v-card-text
			v-form(ref="form", lazy-validation, v-model="valid")
				v-layout(style="margin-bottom: 16px;")
					v-text-field(v-model="newName", label="Укажите название", required, color="light-green", :rules="nameRules")
				v-layout.justify-content-end(v-if="!sendNewName")
					v-btn(dark, small, color="red", @click="addNewReset", type="button") Отмена
					v-btn(dark, color="green", small, style="margin-left: 8px;", @click.native="submitAddNew") Добавить
		v-progress-linear(indeterminate, color="green", v-if="sendNewName", style="margin: 0px;")