v-dialog(v-model="quickView", fullscreen, hide-overlay, transition="dialog-bottom-transition", scrollable)
	v-card(tile)
		v-toolbar(card, dark, color="cyan", title="Текущий статус отображения на сайте")
			v-icon(v-if="selectItem.status") mdi-eye
			v-icon(v-else, color="red") mdi-eye-off
			v-toolbar-title Быстрый просмотр
			v-spacer
			v-toolbar-items
				v-btn(dark, flat, @click.native="updateStatusCategory")
					span(v-if="selectItem.status")
						v-icon mdi-eye-off
						|&nbsp;&nbsp;Скрыть
					span(v-else)
						v-icon mdi-eye
						|&nbsp;&nbsp;Показать
				v-btn(dark, flat, :to="{name: 'blogCategory', params: {id: selectItem.id}}", title="Редактировать категорию")
					v-icon mdi-pencil
					|&nbsp;&nbsp;Редактировать
				v-btn(dark, flat, @click.native="quickView = !quickView;", title="Закрыть окно")
					v-icon mdi-close-box-outline
		
		v-card-text
			v-list(three-line, subheader)
				v-subheader ID категории - &nbsp;
					strong  {{ selectItem.id }}
				v-list-tile(avatar)
					v-list-tile-content
						v-list-tile-title Название категории
						v-list-tile-sub-title {{ selectItem.name }}
				v-list-tile(avatar)
					v-list-tile-content
						v-list-tile-title URL категории
						v-list-tile-sub-title {{ selectItem.url }}
			
			v-divider
			v-list(one-line, subheader)
				v-subheader Кол-во публикаций в категории - &nbsp;
					strong {{ selectItem.posts_count }}
			
			v-divider
			v-list(three-line, subheader)
				v-subheader Изображение категории
				v-list-tile(avatar)
					v-list-tile-content
						img(:src="img + $root.random()", style="max-height: 100%; max-width: 100%;")

		div(style="flex: 1 1 auto;")