v-form(v-model="valid", ref="form", lazy-validation)
	v-text-field(label="Логин", v-model="login", :rules="loginRules", counter, required)
	
	v-text-field(name="password", label="Укажите Ваш пароль", hint="At least 8 characters", v-model="password", min="6", :rules="passwordRules", :append-icon="hidePass ? 'visibility' : 'visibility_off'", :append-icon-cb="() => (hidePass = !hidePass)", :type="hidePass ? 'password' : 'text'", counter, required)
	
	v-checkbox(label="Я не робот!", v-model="checkbox", :rules="[v => !!v || 'Необходимо отметить!']", required)
	
	v-btn(@click="submit", :disabled="!valid") Войти
	v-btn(@click="clear") Очистить