ul
	li
		router-link(to="/404") ERROR
	li
		router-link(to="/login") Auth
	li
		router-link(to="/") Index
	li
		router-link(to="/users") Users
	li
		router-link(to="/settings") Settings
	li
		router-link(to="/settings/primary") Settings Primary
	li
		router-link(to="/settings/mail") Settings Mail