v-navigation-drawer.aside_menu(app, fixed, hide-overlay, :mini-variant.sync="$site.aside_min", v-model="drawer", mini-variant-width="64", width="220")
	v-toolbar.transparent(flat)
		v-list.pa-0
			v-list-tile(avatar)
				v-list-tile-avatar
					img(src="https://randomuser.me/api/portraits/men/85.jpg")
				v-list-tile-content
					v-list-tile-title.user-info
						.name {{ $user().data.first_name }} {{ $user().data.last_name }}
						.status {{ status }}

	v-list.pt-0(dense).wrapper-menu
		v-divider
		
		span(v-for="item in items", :key="item.title", @click="")
			v-list-tile(:to="{name: item.link}", v-if="!item.parent")
				v-list-tile-action
					v-icon(:color="item.color") {{ item.icon }}
				v-list-tile-content
					v-list-tile-title {{ item.title }}
					
			v-expansion-panel(v-else)
				v-expansion-panel-content(focusable, popout, expand-icon="mdi-menu-down")
					v-list-tile(slot="header")
						v-list-tile-action
							v-icon(:color="item.color") {{ item.icon }}
						v-list-tile-content
							v-list-tile-title {{ item.title }}
					v-card
						v-card-text(v-for="item_child in item.children", :key="item_child.title")
							v-list-tile(:to="{name: item_child.link}")
								v-list-tile-action
									v-icon(:color="item_child.color") {{ item_child.icon }}
								v-list-tile-content
									v-list-tile-title {{ item_child.title }}