v-app
	v-content(:class="{auth: auth}")
		headerLine(v-if="auth", :aside_min="asideMenuMin" @toggleMenu="asideMenuMin = $event")
		aside_menu(v-if="auth", :aside_min="asideMenuMin")
		router-view
		notify
