main.content.auth {
	padding-top: 60px !important;
}
main.content.auth .content--wrap {
    padding: 40px 24px 40px;
}
.btn.blue {
	color: $white;
}

.card table.table thead td:not(:nth-child(1)),
.card table.table tbody td:not(:nth-child(1)),
.card table.table thead th:not(:nth-child(1)),
.card table.table tbody th:not(:nth-child(1)),
.card table.table thead td:first-child,
.card table.table tbody td:first-child,
.card table.table thead th:first-child,
.card table.table tbody th:first-child {
	padding: 12px 18px;
}
.card table.table tbody td, .card table.table th {
	vertical-align: middle;
}
.card table.table th i.icon {
	position: relative;
    top: -5px;
}

.opacity_6 {
	opacity: 0.6;
}

.mini-circle {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    margin: 0px 4px;
    padding: 2px;
}