//- <!DOCTYPE html>
html
	head
		meta(charset="utf-8")
		title !Gulp 4 with Webpack
	body
		h1 !!Gulp 4 with Webpack
		div#app {{ message }}
		p Open the console to the see imported log.
		script(src="/build.js")