// VARIABLES

// HEADER
$header_height: 64px;

// Inputs
$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              rgba(0,0,0,.7);
$input-focus-color:                     $input-color;
$input-focus-box-shadow:                none;
