.auth-page-wrapper.d-flex.align-items-center.justify-content-end
	bubbles
	v-form(v-model="valid", ref="form", lazy-validation)
		.container-fluid
			.row
				.col-md-6
					.wrapper-left-case.d-flex.align-items-center
						.logo-auth-wrapper
							img(src="/images/common/logo_frame.png", alt="")

				.col-md-6
					v-text-field(name="login", label="Логин", v-model="login", :rules="loginRules", counter, required)
					
					v-text-field(name="password", label="Укажите Ваш пароль", hint="Не менее 5 символв", v-model="password", min="5", :rules="passwordRules", :append-icon="hidePass ? 'mdi-eye' : 'mdi-eye-off'", :append-icon-cb="() => (hidePass = !hidePass)", :type="hidePass ? 'password' : 'text'", counter, required)

					
					v-btn.not-padding(@click="submit", :disabled="loading", color="info", :loading="loading")
						span(v-if="!loader") Войти